@use "./partials/modern-normalize";
@use "./partials/mixins";

body {
  display: grid;
  grid-template-columns: minmax(540px, 1fr);
  grid-template-areas:
    "header"
    "home"
    "about"
    "skill"
    "project"
    "contact"
    "foot";
}

.header {
  grid-area: header; // is this a reserved word?? need to check
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__box {
    border: 1px solid green;
  }
  &__icons {
    margin: 0 10px;
    height: 45px;
    width: 45px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 1px solid red;
  & a {
    @include mixins.font(600, 1rem);
    text-decoration: none;
  }
}

.footer {
  grid-area: foot;
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  & p {
    @include mixins.font(400, 1rem);
  }
}
