/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.sidenav {
  background-color: #112d4e;
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 10%;
}

.nav {
  height: auto;
  width: 275px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__icon {
  margin: 0 10px;
  height: 45px;
  width: 45px;
}
.nav__image {
  width: 60%;
  border-radius: 10%;
  margin: 10% 0;
  box-shadow: 1px 1px 25px 1px rgba(249, 247, 247, 0.75);
  -webkit-box-shadow: 1px 1px 25px 1px rgba(249, 247, 247, 0.75);
  -moz-box-shadow: 1px 1px 25px 1px rgba(249, 247, 247, 0.75);
}
.nav__link-page {
  margin: 2% 0;
  width: 100%;
  padding: 5% 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1rem;
  color: #f9f7f7;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}
.nav__link-page:hover {
  background-color: #3f72af;
  text-shadow: none;
}
.nav__box {
  width: 50%;
  margin: 5% 0;
  display: flex;
  position: relative;
}
.nav__button {
  margin: 5% 0;
  background-color: #3f72af;
  color: #f9f7f7;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}
.nav__button:hover {
  background-color: #dbe2ef;
  color: #112d4e;
  cursor: pointer;
}
.nav__footer {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: #f9f7f7;
  position: fixed;
  bottom: 0;
}

#linkedin--dark {
  position: absolute;
  left: 0;
  opacity: 0;
}
#linkedin--dark:hover {
  opacity: 1;
}

#github {
  position: absolute;
  right: 0;
}

#github--dark {
  position: absolute;
  right: 0;
  opacity: 0;
}
#github--dark:hover {
  opacity: 1;
}

.home {
  background-color: #dbe2ef;
  grid-area: home;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__box {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  width: 50%;
}
.home__image {
  height: 65%;
  width: 90%;
  margin-bottom: 5%;
}
.home__heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}
.home__heading span {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}
.home__subheading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.75rem;
  font-style: italic;
}
.home__text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.about {
  grid-area: about;
  min-height: 40vh;
  max-height: fit-content;
  display: grid;
  grid-template-areas: "heading" "info";
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  background-color: #dbe2ef;
}
.about__container-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__container-text {
  grid-area: info;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__heading {
  grid-area: heading;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  font-style: italic;
  color: black;
  text-align: center;
}
.about__text {
  padding: 0 10%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: black;
}

.skills {
  grid-area: skills;
  height: 60vh;
  background-color: #dbe2ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills__heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  font-style: italic;
}
.skills__heading-icons {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
}
.skills__icon {
  width: 55px;
  height: 55px;
}
.skills__container-main {
  margin-bottom: 5%;
}

.projects {
  grid-area: projects;
  height: 70vh;
  background-color: #dbe2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 5rem;
}
.projects__container {
  border: 2px solid red;
  height: 50%;
  width: 90%;
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 1rem;
}
.projects-card {
  justify-self: center;
  margin: 0;
  background-color: #3f72af;
  height: 300px;
  width: 250px;
  border-radius: 15px;
}
.projects-card__image {
  height: 50%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.projects-card__title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #f9f7f7;
  text-align: center;
  padding-top: 10px;
}
.projects-card__text {
  color: black;
  padding: 0 5%;
  border: solid 1px red;
  margin: 5% 0;
}
.projects-card__text--tool {
  background-color: #112d4e;
  padding: 5px;
  margin: 0;
}
.projects-card__container-bubble {
  border: solid 1px green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5px;
}

.contact {
  grid-area: contact;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form {
  width: 50%;
  width: 500px;
}
.contact-form__box {
  display: flex;
}

body {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "sidenav home" "sidenav about" "sidenav skills" "sidenav projects" "sidenav contact";
}

#scroller {
  overflow-y: scroll;
  scrollbar-color: #112d4e #f9f7f7;
}

/*# sourceMappingURL=style.css.map */
