@use "../partials/mixins";
@use "../partials/colors";

.about {
  grid-area: about;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 75%;
    flex-wrap: wrap;
  }
  &__container-text {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__heading {
    @include mixins.font(700, 2rem);
    color: colors.$text-main;

    font-style: italic;
  }
  &__text {
    padding: 0 5%;
    @include mixins.font(500, 1.1rem);
    color: colors.$text-main;

    margin: 10px 0;
    text-indent: 25px;
  }
  &__image {
    height: 240px;
    width: 180px;
    border-radius: 10%;
    box-shadow: 0 10px 30px colors.$shadow-dark;
  }
}
