@use "../partials/mixins";
@use "../partials/colors";

.about {
  grid-area: about;
  display: grid;
  grid-template-areas:
    "heading"
    "info";
  grid-template-columns: minmax(540px, 0.5fr);
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  background-color: colors.$blue-navy;
  &__container-image {
    grid-area: picture;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__container-text {
    grid-area: info;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    grid-area: heading;
    @include mixins.font(700, 2rem);
    font-style: italic;
    color: colors.$white-ish;
    text-align: center;
  }
  &__text {
    padding: 0 10%;
    @include mixins.font(400, 1rem);
    color: colors.$white-ish;
  }
}
