@use "../partials/colors";
@use "../partials/mixins";

.projects {
  grid-area: projects;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    @include mixins.font(700, 2rem);
    color: colors.$text-main;
    font-style: italic;
    margin-bottom: 2.5rem;
  }
  &__container {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  &-card {
    margin: 0;
    background-color: colors.$blue;
    height: 365px;
    width: 290px;
    border-radius: 15px;
    box-shadow: 0 10px 30px colors.$shadow-dark;

    &__image {
      height: 60%;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    &__title {
      @include mixins.font(500, 1rem);
      color: colors.$white-ish;
    }
    &__text {
      color: colors.$white-ish;
      text-align: center;
      margin: 5px 5px 0 5px;
      @include mixins.font(400, 0.8rem);
      &--tool {
        background-color: colors.$blue-light;
        color: colors.$text-main;
        padding: 5px;
        border-radius: 10px;
        @include mixins.font(500, 0.9rem);
      }
    }
    &__container-tool {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 10px;
    }
    &__container-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
