@use "../partials/mixins";
@use "../partials/colors";

.sidenav {
  background-color: colors.$blue-navy;
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav {
  align-self: center;
  height: 100%;
  width: 275px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__button--close {
    align-self: flex-end;
    color: colors.$white-ish;
    font-size: 45px;
    text-decoration: none;
  }
  &__container {
    margin-top: -20%;
    height: fit-content;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    margin: 0 10px;
    height: 40px;
    width: 40px;
  }
  &__image {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    margin-bottom: 10%;
    box-shadow: 1px 1px 25px 1px rgba(249, 247, 247, 0.75);
    -webkit-box-shadow: 1px 1px 25px 1px rgba(249, 247, 247, 0.75);
    -moz-box-shadow: 1px 1px 25px 1px rgba(249, 247, 247, 0.75);
  }
  &__link-page {
    margin: 2% 0;
    width: 95%;
    padding: 3% 0;
    @include mixins.font(600, 1rem);
    color: colors.$white-ish;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    &:hover {
      background-color: colors.$blue;
      text-shadow: none;
    }
  }
  &__box {
    width: 50%;
    margin: 5% 0;
    display: flex;
    position: relative;
  }
  &__button--cv {
    margin: 5% 0;
    background-color: colors.$blue;
    color: colors.$white-ish;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    @include mixins.font(500, 1rem);
    &:hover {
      background-color: colors.$blue-light;
      color: colors.$blue-navy;
      cursor: pointer;
    }
  }
  &__footer {
    @include mixins.font(400, 0.77rem);
    color: colors.$white-ish;
  }
}
#linkedin--dark {
  position: absolute;
  left: 0;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
#github {
  position: absolute;
  right: 0;
}
#github--dark {
  position: absolute;
  right: 0;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
