@use "../partials/mixins";

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav {
  padding-top: 5%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  & a {
    @include mixins.font(600, 1rem);
    text-decoration: none;
  }
  &__footer {
    @include mixins.font(400, 0.8em); // Need to fix container for rem sizing
  }
  &__box {
  }
  &__icons {
    margin: 0 10px;
    height: 45px;
    width: 45px;
  }
  &__image {
    height: 275px;
    width: 225px;
    border-radius: 5%;
    // box-shadow: 10px 10px 5px 0px rgba(249, 247, 247, 0.5);
    // -webkit-box-shadow: 10px 10px 5px 0px rgba(249, 247, 247, 0.5);
    // -moz-box-shadow: 10px 10px 5px 0px rgba(249, 247, 247, 0.5);
  }
}
