@use "../partials/mixins";

.sidenav {
  grid-area: sidenav;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__box {
    border: 1px solid green;
  }
  &__icons {
    margin: 0 10px;
    height: 45px;
    width: 45px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 1px solid red;
  & a {
    @include mixins.font(600, 1rem);
    text-decoration: none;
  }
}

.footer {
  grid-area: foot;
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  & p {
    @include mixins.font(400, 1rem);
  }
}
